@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}
#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #55a4da;
  background-attachment: fixed;
  z-index: -1;
}
#particles-js #banner_cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}
#particles-js #banner_cont a {
  color: inherit;
}
#particles-js #banner_cont h1 {
  font-size: 170px;
}
#particles-js #banner_cont p {
  font-size: 25px;
}
#particles-js #banner_cont #bdown {
  background: none;
  border: 2px solid #ffffff;
  border-radius: 9999px;
  margin-top: 20px;
  height: 50px;
  width: 50px;
}
#particles-js #banner_cont #bdown:focus {
  outline: 0;
  box-shadow: none;
}
#particles-js #banner_cont #bdown .glyphicon {
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
#info1 {
  text-align: center;
  transition: .5s all;
}
#info1 a {
  color: black;
  text-decoration: none;
}
#info1 h1 {
  margin: 0;
  padding-top: 30px;
}
#info1 #iconset {
  text-align: center;
  margin: 20px auto;
  padding: 40px;
}
#info1 #iconset #bio {
  background: #55a4da;
}
#info1 #iconset #eng {
  background: #ff1a26;
}
#info1 #iconset #ag {
  background: #ff9325;
}
#info1 #iconset #tech {
  background: #89c764;
}
#info1 #iconset .circ {
  cursor: pointer;
  display: inline-block;
  margin: 20px;
  height: 90px;
  width: 90px;
  border-radius: 9999px;
  background: blue;
  text-align: center;
}
#info1 #iconset .circ img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#prog_info a {
  color: white;
  text-decoration: none;
}
#prog_info .info p {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 20px;
  font-size: 20px;
  transition: .3s all;
  padding: 30px;
  color: #ffffff;
}
#prog_info #bio_i {
  display: none;
}
#prog_info #eng_i {
  display: none;
}
#prog_info #ag_i {
  display: none;
}
#prog_info #tech_i {
  display: none;
}
#teamblock {
  text-align: center;
  padding: 20px;
}
#teamblock .memb_block {
  display: inline-block;
}
#teamblock .memb_block .phot_circ {
  height: 100px;
  width: 100px;
  border-radius: 9999px;
  background: #666666;
  margin: 30px;
}
#map-canvas {
  height: 250px;
  width: 100%;
  background: #666666;
}
.lbox {
  text-align: center;
  position: relative;
  top: 75px;
  padding-bottom: 75px;
}
.lbox p {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px;
}
.lbox .icon_box {
  diplay: inline;
}
.show {
  display: initial;
}
.scienceback {
  background-image: url('../imgs/scienceback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.engback {
  background-image: url('../imgs/engback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.agback {
  background-image: url('https://static.pexels.com/photos/194/wood-sea-landscape-nature.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.techback {
  background-image: url('../imgs/techback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cwhite {
  color: #ffffff;
}
